/* body {
    background-image: linear-gradient(#FFB7B2, #E2F0CB, #B5EAD7, #C7CEEA, #C7CEEA, #C7CEEA);
} */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}
.menu-bar {
    background-color: #E4572E;
    color: white;
    padding: 0 1em;
}

.menu-bar p br {
    display: none;
}

.menu-bar p {
    margin-right: auto;
}
.header-pic {
    background-color: #17BEBB /* #83F04D */;
    padding: 1em 0 2em 0;
}

h1 {text-shadow: rgba(10, 189, 240, 0.298039) 3px 3px 0px, rgba(254, 1, 1, 0.298039) -3px -3px 0px;
}


.mountains {
background-color: rgb(118,176,65, .2)/* #76B041  mediumaquamarine */;
min-height: 3em;
margin:1em;

}

.extrainfo {
    display: none;
}

/* .triangle-up {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid red;
} */

.flex-container {
    display: flex;

}
.header-circle {
    margin: auto;
    background-color: #EABD00 /*#ffdb58*/;
    height:200px;
    width: 200px;
    border-radius: 100%
}

.header-circle img {
    width: 100%;
    border-radius: 100%;
    /* height:100%; */
    border: 1em solid #ffdb58;
}

.trees-above-footer img {
    flex: 1;
    width: 12.5%;
    color: #556B2F;
}

footer{
    background-color: #556B2F;
    color: #dfe0cc;
    text-align: center;
}

.footer-flex-1 h2 {
    margin: 0;
    padding: 1em 0 .3em;
}

.footer-flex-1 img {
    width: 25%;
    min-width: 125px;
}

.footer-flex-1 p {
    margin: 0 ;
}

.footer-flex-2 {
    margin: 1.3em 0;
}

.footer-flex-2 nav a {
    display: block;
    color: #9ce7e8;
    font-size: 1.2em;
    text-decoration: none;
    width: 30%;
    margin: auto; 
    padding: .2em 0;    
}

.footer-flex-2 nav a:hover {
    color: #e4562e;
}

.footer-flex-3 h4 {
    text-align: left;
    width: 80%;
    margin: auto;
}

.footer-form {
    padding: .5em 0;
}

.footer-form input {
    width: 60%;
    min-width: 10rem;
    max-width: 15rem;
}

button {
    color: red;
}

/* For Accessability purposes */
.visually-hidden 
{position:absolute;
/*    left:-10000px;
top:auto;
width:1px;
height:1px;
overflow:hidden; */

    opacity: 0;
    pointer-events: none;
  }


@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }

  /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    
 }
 
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .flex-container-lg {
        display: flex;
    }
    .flex-container-lg > div {
        width: 33.33%;
        text-align: center;
        flex: 1;
    }
 }
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    


    
 }
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
 }