/* body {
    background-image: linear-gradient(#FFB7B2, #E2F0CB, #B5EAD7, #C7CEEA, #C7CEEA, #C7CEEA);
} */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Comic Sans MS", cursive, sans-serif;
    /* background-color: rgb(118,176,65, .2); 
    background: linear-gradient(0deg, rgba(227,239,217,1) 0%, rgba(227,239,217,1) 87%, rgba(216,225,72,1) 100%); */

}

.page-content {
    background: linear-gradient(0deg, rgba(227,239,217,1) 0%, rgba(227,239,217,1) 87%, rgba(216,225,72,1) 100%);
}

a {
    text-decoration: none;
}

.grid-container {
    display: grid;

}


header {
    /* background-color: #17BEBB; */
    background: linear-gradient(0deg, rgba(242,238,74,1) 0%, rgba(23,190,187,1) 59%, rgba(9,25,85,1) 100%);

}

.menu-bar {
    background-color: #E4572E;
    color: #e3efd9;
    padding: 0 1em;
    display: none !important;
}

.menu-bar p br {
    display: none;
}

.menu-bar p {
    margin-right: auto;
}

.menu-bar button {
    border: .3rem solid #eabd00;
    background-color: #e3efd9;
    padding: 0 1rem;
    font-size: .9rem;
}

.menu-bar button:hover {
    background-color: 
}

.menu-bar nav {
    display: none;
}

.header-pic {
    padding: 1em 0 0 0;
}

svg {
    
    bottom: 0;
    width: 100%;
    height: 200px;
    margin-bottom: -5px;
  }

h1 {text-shadow: rgba(10, 189, 240, 0.298039) 3px 3px 0px, rgba(254, 1, 1, 0.298039) -3px -3px 0px;
}

main .item-1 {
    margin-left: auto;
    padding-right: 3rem;
}

main .item-1 {
    text-align: right;
}

main .item-1 p {
    shape-outside: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
    -webkit-shape-outside: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
}

main .item-1 h2 {
    text-align: right;
    margin-top: 0;
}

.mountains {
background-color: rgb(118,176,65, .2)/* #76B041  mediumaquamarine */;
min-height: 3em;
margin:1em;

}

.extrainfo {
    display: none;
}

/* .triangle-up {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid red;
} */

.flex-container {
    display: flex;

}

header .item-1 {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-left: 1em;
    margin-top: 2rem;
}

header .item-2 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 2.3em;
    margin-bottom: 0;
    padding-top: 2rem;
}

header .item-3 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    margin: 0 0 0 .5em;
    
}

header .item-4 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: end;
}
/* ---- Main Navigation ---- */
.main-menu li {
    list-style: none;
    display: inline;
    padding: 0 .5em;
}

.main-menu a:hover {
    color: #fa8733;
}

.main-menu a {
    color: #9ce7e8;
}

.main-menu ul {
    padding: 0 2rem 0 0;
}

.circle {
    background-color: #EABD00 /*#ffdb58*/;
    height:200px;
    width: 200px;
    border-radius: 100%
}

.header-circle {
    padding: 1em 0 0 6em;
    /* background-color: #EABD00 #ffdb58;
    height:200px;
    width: 200px;
    border-radius: 100%; */
}

.header-circle img {
    width: 100%;
    border-radius: 100%;
    /* height:100%; */
    border: 1em solid #ffdb58;
    display: none;
}

.trees-above-footer img {
    flex: 1;
    width: 12.5%;
    color: #556B2F;
}

footer{
    background-color: #556B2F;
    color: #dfe0cc;
    text-align: center;
    padding: 1.5rem;
}

.footer-flex-1 h2 {
    margin: 0;
    padding: 0 0 .3em;
}

.footer-flex-1 img {
    width: 25%;
    min-width: 125px;
}

.footer-flex-1 p {
    margin: 0 ;
    padding: 0 .3rem;
}

.footer-flex-2 {
    margin: 1.3em 0 0;
}

.footer-flex-2 nav a {
    display: inline-block;
    color: #9ce7e8;
    font-size: 1.2em;
    text-decoration: none;
    margin: auto; 
    padding: .2em 0;
    font-weight: bold;    
}

.footer-flex-2 nav a:hover {
    color: #fa8733;
}

.footer-flex-2 ul{
    padding-left: 0;
    margin-bottom: 0;
}

.footer-flex-2 li {
    list-style: none;
}

.footer-flex-3 h4 {
    text-align: left;
    width: 90%;
    margin: auto;
    margin-bottom: .4rem;
    padding-top: 1rem;
}

.footer-form {
    padding: .5em 0;
}

.footer-form input {
    width: 90%;
    font-size: 1rem;
    padding: .2rem;
}

.footer-flex-3 button {
    color: #556B2F;
    background-color: #dfe0cc;
    font-size: 1rem;
    padding: .4rem .8rem;
    border: 2px;
    margin-top: .7rem;
    width: 90%;
    border-radius: .5rem;
}

.footer-flex-3 button:hover {
    background-color: #fa8733;
}



/* For Accessability purposes */
.visually-hidden 
{position:absolute;
/*    left:-10000px;
top:auto;
width:1px;
height:1px;
overflow:hidden; */

    opacity: 0;
    pointer-events: none;
  }


@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }

  /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
   /* .footer-form input {
        width: 60%;
        min-width: 12rem;
        max-width: 15rem;
    } */
    
    
 }
 
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .flex-container-lg {
        display: flex;
    }
    .flex-container-lg > div {
        width: 33.33%;
        text-align: center;
        flex: 1;
    }
    .menu-bar button {
        display: none;
    }
    .menu-bar nav {
        display: block;
        color: #e3efd9;
    }
    .menu-bar li {
        list-style: none;
        display: inline;
    }
    .home-articles {
        width: 80%;
    }
 }
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    


    
 }
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
 }